body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

input[type="text"] {
    padding: 20px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.anchor {
    margin: 220px;
    color: #0056b3;
}
.label {
    margin:20px;
}
.form {
    padding: 300px;

}
button {
   font-size: 30px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    margin:50px;

}
.header {
    display: flex;
    justify-content: center;
}






